In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
cd /content/drive/My Drive/1001 Final Project

/content/drive/My Drive/1001 Final Project

In [3]:
import sys

path_to_utils = 'pyfiles'
sys.path.append(path_to_utils)

In [4]:
import pandas as pd
import numpy as np
import os

import text2vec
import preprocessings
import helpfunctions

In [5]:
df_1125 = preprocessings.get_preprocessed_data('./data/US_videos_1125.csv', './glove.twitter.27B.50d.txt', num_labels = 10)

Done. 1192095 words loaded!

In [6]:
df_1129 = preprocessings.get_preprocessed_data('./data/US_videos_1129.csv', './glove.twitter.27B.50d.txt', num_labels = 10)

Done. 1192095 words loaded!

In [7]:
df = pd.concat([df_1125,df_1129])

In [8]:
df

                                                   title  ...  label
0      GAME  (Full Video)  Shooter Kahlon | Sidhu Moo...  ...      9
1      Euro Coach Bus Simulator 2020: City Bus Drivin...  ...      6
2      ðŸŸ¢Mega Ramp Car Stunts Races 3d Chevrolet Camar...  ...      1
3      The Game - My Life ft. Lil Wayne (Official Mus...  ...      9
4      The Game - Ryda ft. Dej Loaf (Official Music V...  ...      9
...                                                  ...  ...    ...
32327                  Elon Musk: The Real Life Iron Man  ...      0
32328  THE SKY CALLS | Nebo zovyot | Battle Beyond Th...  ...      2
32329  Someone Has Just Reported That Something Massi...  ...      3
32330                              SpaceX Exposed Part 2  ...      0
32331      UFO Fleet caught near Tesla Roadster in Space  ...      5

[41258 rows x 16 columns]

In [9]:
for i in range(10):
  # use this to return the predicted label back to view counts
  range_view = helpfunctions.label2views(df, label=i, num_labels=10)
  print('The predicted views for label ' + str(i) + ' is in ' + str(range_view))

The predicted views for label 0 is in [0, 6737]
The predicted views for label 1 is in [6737, 26011]
The predicted views for label 2 is in [26011, 61420]
The predicted views for label 3 is in [61420, 126486]
The predicted views for label 4 is in [126486, 266864]
The predicted views for label 5 is in [266864, 586131]
The predicted views for label 6 is in [586131, 1362537]
The predicted views for label 7 is in [1362537, 3552043]
The predicted views for label 8 is in [3552043, 12274542]
The predicted views for label 9 is in [12274542, 7083912879]